<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
        <h1>Url Shortner</h1>
            <form action="/shortUrls" method="POST" class="my-4 form-inline" id="myForm">
                <label for="fullUrl" class="sr-only">Enter URL: </label>

                <input required placeholder="URL" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
            <button class="btn btn-success my-1" type="submit">Shorten</button>
                <button class="btn btn-warning my-1" onclick="myFunction()">History</button>
            </form>
            <p>
                Steps:
                <br> 
                    1) Enter your URL & click 'Shorten'.
                <br>
                    2) Click 'History' & check for your shortened url at top.
            </p>
            <table class="table table-striped table-responsive" id="table" style="display: none;">
                <thead>
                    <tr>
                        <th>Full URL</th>
                        <th>Short URL</th>
                        <th>Clicks</th>
                    </tr>
                </thead>
                <tbody id="tbdy"> </tbody>
            </table>

            
    </div>
    
</body>

</script>

<script>

    function myFunction(){
        var add = document.getElementById('table');
        if(add.style.display == 'none'){
            add.style.display = 'block';
        }else {
            add.style.display = 'none';
        }
    }

    const miniURLs = <%- JSON.stringify(miniURL) %>;
    const bodi = document.getElementById('tbdy');
    miniURLs.forEach(miniURL => {
        const row = document.createElement('tr');
        
        row.innerHTML = `
            <td><a href="${miniURL.full}">${miniURL.full}</a></td>
            <td><a href="${miniURL.short}">${miniURL.short}</a></td>
            <td>${miniURL.clicks}</td>
        `;
        
        bodi.prepend(row);
    });
</script>

</html>